<div class='container-fluid text-center'>
  <center>
    <div id="header">
      <h1 class="text-center">Twitch-It!</h1>
      <p>Keep track of your favorite streamers</p>
    </div>
  
    <div class="status-check">
      <ul class="list-inline icon">
        <li style="float"><button type="button" id='all' class="btn btn-link">All</button></li>
        <li style="float"><button type="button" id="on" class="btn btn-link">Online</button></li>
        <li style="float"><button type="button" id="off" class="btn btn-link">Offline</button></li>
        <li style="float"><button type="button" id='de' class="btn btn-link">Deactivated</button></li>
      </ul>
    </div>
    <div id="allUsers">
      <div class="online"></div>

      <div class="offline"></div>

      <div class="deactivated"></div>

      <div id="test"></div>
    </div>
  </center>

</div>